.signUpPage{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpContainer{
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    padding: 20px;
    width: 320px;
}

.signUpContainer .containerHeader{
    color : #e67e22;
}

.signUpForm{
    display: flex;
    flex-direction: column;
}

.signUpContainer label{
    display: flex;
    flex-direction: column;
}

.signUpContainer input{
    height: 40px;
    width: 100%px;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 12px;
}

.signUpBtn{
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #e67e22;
    border-radius: 8px;
    transition: all 0.5s ease;
}

.signUpBtn:hover{
    transform: scale(1.02);
}

.signUpBtn:active{
    transform: scale(0.95);
}