*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bookDetailsPage{
    width: 100%;
    min-height: 100vh;
}

.bookDetailsContainer{
    width: 100%;
    background-color: rgb(231, 231, 231);
    margin: 0;
    padding: 20px;
    display: flex;
}

.bookDetailsContainer .bookCoverImage{
    height: 400px;
    border-radius: 20px;
}

.bookAboutDetailsContainer{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.bookAboutDetailsContainer .bookName{
    font-size: 30px;
    font-weight: 600;
}

.bookAboutDetailsContainer .bookAuthor{
    font-size: 20px;
    font-style: italic;
}

.bookAboutDetailsContainer .sellerNameDetails{
    margin-top: 20px;
    font-size: 20px;
}

.sellerName{
    color: rgb(81, 17, 153);
    font-weight: 600;
}

.bookAboutDetailsContainer .sellerContact{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 20px;
}

.sellerContactNumber{
    font-size: 30px;
    font-weight: bold;
    color: rgb(81, 17, 153);
}