*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homePage{
    width: 100%;
    min-height: 100vh;
}

.allBooksContainer{
    padding: 20px;
}


.allBooksContainerHeader{
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    color: rgb(68, 68, 68);
}

.sellBookBtn{
    font-size: 18px;
    background-color: rgb(150, 58, 255);
    border: none;
    outline: none;
    padding: 8px;
    color: white;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.sellBookBtn:active{
    transform: scale(0.95);
}

.allBooksGrid{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}